<% const navItems = [{ name: "Thông Tin User", icon: "nc-icon nc-circle-09", link: "/home" },
                    { name: "Quản lý tài khoản", icon: "nc-icon nc-notes", link: "/account" },
                    { name: "Quản lý danh mục", icon: " nc-icon nc-paper-2", link: "/categories" },
                    { name: "Quản lý sản phẩm", icon: "nc-icon nc-pin-3", link: "/products"},
                    { name: "Quản lý hóa đơn", icon: "nc-icon nc-atom", link: "/bills" },
                    <!-- { name: "Quản lý đánh giá", icon: "nc-icon nc-notes", link: "/comments"}, -->
                    ] 
%>
<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Quản lý
            </a>
        </div>
        <% navItems.forEach(navlink => { %>
        <ul class="nav">
            <% if(hrefUrl === navlink.link){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin<%= navlink.link %>">
                        <i class="<%= navlink.icon %>"></i>
                        <p><%= navlink.name %></p>
                    </a>
                </li>
        <% } 
        else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin<%= navlink.link %>">
                        <i class="<%= navlink.icon %>"></i>
                        <p><%= navlink.name %></p>
                    </a>
                </li>
        <% } %>
        %>

        <% }) %>
    </div>
